.open-graph-comment-outer {
  float: left;
  width: 100%;
  border: 1px solid #E8E8E8;
  padding: 4px 8px;
  background-color: #FBFBFB;
}
.open-graph-comment-img {
  float: left;
  padding: 6px 10px 2px 0;
}
.open-graph-comment-img img{
  width: 135px;
}
.open-graph-comment-title {
  margin: 0;
}
